html {
  font-size: 10px;
  font-family: "Roboto";
  color: white;
  background-color: whitesmoke;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  background-color: #00539f;
  width: 600px;
  margin: 0 auto;
  border: 5px solid black;
  padding: 0 20px 20px 20px;
}
img {
  display: block;
  margin: 0 auto;
  border: 2px solid whitesmoke;
}
a {
  color: violet;
}
